.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movie-container {
  display: grid;
  margin: 30px auto;
  width: 90%;
  grid-template-columns:  repeat(5, 1fr);
  grid-template-rows: repeat(4, 450px);
}

.movie-item {
  background-color: #222;
  color: #fff;
  margin: 10px;
}

.img {
  height: 100%;
  width: 100%;
}


