

/* Navigation */

.nav-main {
  border-bottom: 1px solid black;
  margin: 0;
  display: flex;
  justify-content: center;
}
.nav-sub {
  margin: 0;
  list-style-type: none;
  background-color: #f7f8fa;
}

ul {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;

}


/* Main Seaction */
.movie-container {
  display: grid;
  margin: 30px auto;
  width: 90%;
  grid-template-columns:  repeat(5, 1fr);
  grid-template-rows: repeat(4, 450px);
}

.movie-item {
  background-color: #222;
  color: #fff;
  margin: 10px;
}

.img {
  height: 100%;
  width: 100%;
}


